.News{
  padding: 3rem 0 4rem;
  background-color: #eeeeee;
}

.News h2{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

.News_Img   {
  display: block;
  margin: 0 auto;
  width: 75%;
}
