.Page__content {
	padding: 20px 40px;
	flex: 1 1 auto;
	position: relative;
	font-family: 'Montserrat';
}

// .Page__content-top {
//     margin-left: 25px;
// }

.Page__content__table__row-btn {
    margin : 0px 5px 0px 5px
}
